# Configurações do Servidor
PORT=3000

# Configurações da Evolution API
# URL base da sua instância Evolution API (ex: https://api.suadominio.com)
WHATSAPP_API_URL=
# Chave Global ou da Instância (apikey)
WHATSAPP_API_KEY=
# Nome da instância conectada na Evolution API
WHATSAPP_INSTANCE_NAME=
